In [ ]:
#Ques1
import pandas as pd
df=pd.DataFrame({'Tid' : [1,2,3,4,5,6,7,8,9,10],
                 'Refund' : ['Yes','No','No','Yes','No','No','Yes','No','No','No'],
                 'Marital Status' : ['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
                 'Taxable Income' : ['125K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
                 'Cheat' : ['No','No','No','No','Yes','No','No','Yes','No','Yes']
                })
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [ ]:
#Ques2
srow=df.iloc[[0,4,7,8]]
print(srow)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [ ]:
#Ques3
s=df.loc[3:7]
print(s)
print()
t=df.iloc[[4,5,6,7,8],[2,3,4]]
print(t)
print()
u=df.iloc[[0,1,2,3,4,5,6,7,8,9],[1,2,3]]
print(u)

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [ ]:
import csv

with open('file.csv','w',newline='') as file:
  writer=csv.writer(file)
  writer.writerow(["SNO","NAME","RNO"])
  writer.writerow([1,"abc",11])
  writer.writerow([2,"def",12])
  writer.writerow([3,"ghi",13])
  writer.writerow([4,"jkl",14])
  writer.writerow([5,"mno",15])
  writer.writerow([6,"pqr",16])

In [ ]:
#Ques 4
import pandas as pd
pd.read_csv('file.csv',nrows=5)

   SNO NAME  RNO
0    1  abc   11
1    2  def   12
2    3  ghi   13
3    4  jkl   14
4    5  mno   15

In [ ]:
#Ques 5
import pandas as pd
data=pd.read_csv('file.csv')

data.drop(4,axis=0,inplace=True) #row 4 del
data.drop("RNO",axis=1,inplace=True) #col 3 del
print(data)

   SNO NAME
0    1  abc
1    2  def
2    3  ghi
3    4  jkl
5    6  pqr

In [ ]:
import csv

with open('employees.csv','w',newline='') as file:
  writer=csv.writer(file)
  writer.writerow(["Employee_ID","Name","Department","Age","Salary","Years_of_Experience","Joining_Date","Gender","Bonus","Rating"])
  writer.writerow([101,"Alice","HR",29,50000,4,"2020-03-15","Female",5000,4.5])
  writer.writerow([102,"Bob","IT",34,70000,8,"2017-07-19","Male",7000,4.0])
  writer.writerow([103,"Charlie","IT",41,65000,10,"2013-06-01","Male",6000,3.8])
  writer.writerow([104,"Diana","Marketing",28,55000,3,"2021-02-10","Female",4500,4.7])
  writer.writerow([105,"Edward","Sales",38,60000,12,"2010-11-25","Male",5000,3.5])

In [ ]:
#Ques 6
import pandas as pd

data=pd.read_csv('employees.csv')

print('Number of rows: ',data.shape[0])
print('Number of columns: ',data.shape[1])
print()
print()


print("Data Info:")
data.info()
print()
print()



print('Data description:')
print(data.describe())
print()
print()




f=data.head(2)
l=data.tail(1)
print('First two entries:')
print(f)
print()
print('Last one entry:')
print(l)
print()
print()



print('Mean salary:',data['Salary'].mean())
print('Total bonus',data['Bonus'].sum())
print('Youngest employee age: ',data['Age'].min())
print('Highest performance rating: ',data['Rating'].max())
print()
print()



data.sort_values("Salary",axis=0,ascending=True,inplace=True,na_position='last')
print(data)
print()
print()



li=list()
for value in data['Rating']:
  if(value>=4.5):
    li.append('Excellent')
  elif(value>=4 and value<4.5):
    li.append('Good')
  else:
    li.append('Average')

data['Category']=li
print(data)
print()
print()



print(data.isnull())
print(data)
print()
print()



data.columns=['ID','Name','Department','Age','Salary','Years_of_Experience','Joining_Date','Gender','Bonus','Rating','Category']
print(data)
print()
print()




print('More than 5 years of experience:')
print(data.loc[data['Years_of_Experience']>5])
print()
print()
print('IT department:')
print(data.loc[data['Department']=='IT'])
print()
print()




tax=list()
for val in data['Salary']:
  tax.append(val*0.10)
data['Tax']=tax
print(data)
print()
print()




data.to_csv('employees_updated.csv')
print('Saved into new csv!!')

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'