In [2]:
def add(l):
    for x in [200, 300]:
        print(f"Adding " , x)
        print(",".join(str(i + x) for i in l))

def sort_list(l):
    print("Ascending:", sorted(l))
    print("Descending:", sorted(l, reverse=True))

def modify(l):
    a = [i for i in l if i not in [10, 30]]
    print("After removing 10, 30:", a)

p = [10, 20, 30, 40, 50, 60, 70, 80]
add(p)
modify(p)
sort_list(p)

Adding  200
210,220,230,240,250,260,270,280
Adding  300
310,320,330,340,350,360,370,380
After removing 10, 30: [20, 40, 50, 60, 70, 80]
Ascending: [10, 20, 30, 40, 50, 60, 70, 80]
Descending: [80, 70, 60, 50, 40, 30, 20, 10]

In [4]:
l = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

def high(s):
    print(max(s), s.index(max(s)))

def low(s):
    print(min(s), s.count(min(s)))

def rev(s):
    print(list(s[::-1]))

def chk(s):
    print(76 in s, s.index(76) if 76 in s else "Not found")

high(l)
low(l)
rev(l)
chk(l)

92 5
45 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
True 2

In [5]:
import random, math

def isp(n):
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

def process():
    nums = [random.randint(100, 900) for _ in range(100)]
    odd, even, primes = [], [], []

    for num in nums:
        (odd if num % 2 else even).append(num)
        if isp(num):
            primes.append(num)

    print("Odd numbers:", odd)
    print("Even numbers:", even)
    print("Prime numbers:", primes)

process()

Odd numbers: [879, 895, 891, 341, 639, 633, 143, 215, 183, 497, 349, 467, 357, 177, 375, 861, 709, 183, 459, 515, 655, 477, 803, 809, 507, 861, 185, 323, 867, 839, 547, 873, 233, 433, 383, 679, 799, 795, 573, 783, 517, 755, 735, 193, 771]
Even numbers: [574, 712, 152, 144, 626, 420, 502, 488, 384, 838, 524, 684, 594, 556, 132, 368, 540, 854, 106, 152, 596, 802, 478, 800, 102, 636, 316, 384, 630, 108, 196, 130, 580, 650, 528, 282, 658, 266, 310, 308, 480, 822, 858, 532, 102, 258, 518, 548, 180, 268, 630, 274, 116, 184, 644]
Prime numbers: [349, 467, 709, 809, 839, 547, 233, 433, 383, 193]

In [6]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

def union(a, b):
    print(a | b)

def inte(a, b):
    print(a & b)

def symdiff(a, b):
    print(a ^ b)

def issubset(a, b):
    print(a <= b)

def remove(a):
    n = int(input("Enter number to remove from A: "))
    if n in a:
        a.remove(n)
        print(a)
    else:
        print("Number not found")
union(A, B)
inte(A, B)
symdiff(A, B)
issubset(A, B)
remove(A)

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
Enter number to remove from A: 34
{56, 90, 78}

In [8]:
data = {"city": "Patiala", "population": 419600, "area": 468.9}

def rename(data, old, new):
    if old in data:
        data[new] = data.pop(old)
    print(data)

rename(data, "city", "location")

{'population': 419600, 'area': 468.9, 'location': 'Patiala'}